        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin_home"><!-- admin_index.html => /admin_home -->
                <div class="logo-container">
                    <img class="logo" src="/static/img/logo_white.svg" alt="MonoGuard Logo">
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin_home">
                    <span class="material-icons sidebor-icon">home </span>
                    <span>관리자 홈</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/user_management">
                    <span class="material-icons">person</span>
                    <span>사용자 관리</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/notice_management">
                    <span class="material-icons">info</span>
                    <span>공지사항 관리</span>

                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/equipment_management">
                    <span class="material-icons">build</span>
                    <span>장비 이력 관리</span>
                </a>
            </li>

        </ul>
        <!-- 슬라이드바 끝!! -->